@media screen and (max-width: 1060px) {
  .threecol {
    visibility: collapse;
  }
}

html body {
  background-color: #f3eddb;
}

footer {
  color: #674188;
  text-decoration: none;
}

#navbar-text {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.3rem;
  padding-right: 10px;
  padding-left: 10px;
}
#navbar-text:hover {
  color: rgb(216, 216, 216);
  text-decoration: none;
}

#page-header {
  background-color: #3e2655;
  position: relative;
  padding: 20px 10px;
  margin: 0 auto;
  width: 100%;
  min-height: 200px;
}
#header-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-top: 4rem;
}
#header-background {
  border-radius: 100%;
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

#sidebar-about {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 14px;
}
#my-links {
  color: #674188;
}
#my-links i {
  vertical-align: bottom;
}
#my-links a {
  color: #875fe4;
  text-decoration: none;
  padding: 0 3px;
}
#my-links a:hover {
  text-decoration: none;
  color: #d464f7;
}

#content {
  background-color: #f3eddb;
  margin: 0 auto;
  width: 100%;
}

#footer {
  background-color: #f3eddb;
  border-top: 3px solid #674188;
  border-style: dotted;
  text-align: center;
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
}
#footer p {
  margin: 0 5 0 0;
}

#footer-text {
  font-weight: bold;
  color: #674188;
}
#footer-text a {
  color: #875fe4;
  text-decoration: none;
}
#footer-text a:hover {
  color: #d464f7;
  text-decoration: none;
}
