<footer id="footer">     

    <p id="my-links" class="text-center">
        <a href="https://github.com/adeptusgb" target="_blank"><i class="ri-github-fill"></i><strong> GitHub</strong></a>
        
        <a href="https://www.linkedin.com/in/gustavobrunodemelo/" target="_blank"><i class="ri-linkedin-fill"></i> <strong> Linkedin</strong></a>
        
        <a href="mailto:gustavobrunodemelo@gmail.com"><i class="ri-mail-fill"></i><strong> Email</strong></a>
    </p>
    
    <br>

    <p id="footer-text">
        <a href="{{ site.github.repository_url }}">View on GitHub</a>
        | 
        Published with <a href="https://pages.github.com">GitHub Pages</a>
    </p>

</footer>  