<div id="sidebar" class="col-2 threecol">
    <div class="text-left p-2">
        <div>
            <div style="width: 150px; height: auto; vertical-align: middle;">
                <a href="/about/">
                    <img src="{{ site.sidebar-about-pfp }}" alt="profile picture" style="width: 150px; height: 150px; border: 0 auto; padding: 0; margin: 10px 0 0 0;">
                </a>   

                <p id="sidebar-about">
                    {{ site.sidebar-about-description }}

                    <div class="my-links text-center">

                        <a href="https://github.com/adeptusgb" target="_blank"><i class="ri-github-fill ri-xl"></i></a>
                        
                        <a href="https://www.linkedin.com/in/gustavobrunodemelo/" target="_blank"><i class="ri-linkedin-fill ri-xl"></i></a>
                        
                        <a href="mailto:gustavobrunodemelo@gmail.com"><i class="ri-mail-fill ri-xl"></i> </a>

                    </div>

                </p>

                
            </div>

            <a href="/about/">
                <h5>
                    > About me 
                </h5>
            </a>

        </div>
            
        <a href="/projects/"><h5>> Projects </h5></a>
    </div>    
</div>